<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <%- include('../partials/nav.ejs') %>
        </header>
        <main class="content">
            <h1 class="page-title">Create a account</h1>
            <form action="/auth/sign-up" method="POST">
                <div class="input-control">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Email" required>
                </div>
                <div class="input-control">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Username" required>
                </div>
                <div class="input-control">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <div class="input-control">
                    <label for="passwordConfirm">Password</label>
                    <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Confrim Password" required>
                </div>
        
                <% if (errorMessage) { %>
                    <p class="error-message"><%= errorMessage %></p>
                <% } %>
        
                <button class="submit" type="submit">Sign Up</button>
            </form>
        </main>
        <footer class="footer">
            <%- include('../partials/footer.ejs') %>
        </footer>
    </div>

</body>
</html>