<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Add Thought | Shower Thoughts</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <%- include('../partials/nav.ejs') %>
        </header>
        <main class="content">
            <h1 class="page-title">Add Thought</h1>
    
            <form class="add-thoughts" action="/thoughts" method="POST">
                <div>
                    <label for="content">Thought</label>
                    <textarea name="content" id="content" required></textarea>
                </div>
                <div>
                    <label for="categories">Category</label>
                    <select name="categories" id="categories" required>
                        <option value="Casual Thought">Casual Thought</option>
                        <option value="Crazy Idea">Crazy Idea</option>
                        <option value="Speculation">Speculation</option>
                        <option value="Musing">Musing</option>
                    </select>
                </div>
        
                <% if (errorMessage) { %>
                 <p><%= errorMessage %></p>
                <% } %>
        
                <button class="submit" type="submit">Submit</button>
            </form>
        </main>
        <footer class="footer">
            <%- include('../partials/footer.ejs') %>
        </footer>


    </div>

</body>
</html>